<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
    <!--伪静态规则开始-->
        <rewrite>
            <rules>

				<!--单参数的范例#将article.php?cz=1 优化为article_1.html-->
                <rule name="rule1" stopProcessing="true">
                    <match url="^aboutdetails_([0-9]+).html" />
                    <action type="Rewrite" url="aboutdetails.php?cz={R:1}"  />
                </rule>
				<!--单参数的范例#将product.php?typeid=1 优化为type_1.html-->
                <rule name="rule2" stopProcessing="true">
                    <match url="^product_([0-9]+).html" />
                    <action type="Rewrite" url="product.php?typeid={R:1}"  />
                </rule>

				<!--单参数的范例#将recruitment.php?typeid=1 优化为recruitment_1.html-->
                <rule name="rule101" stopProcessing="true">
                    <match url="^recruitment_([0-9]+).html" />
                    <action type="Rewrite" url="recruitment.php?typeid={R:1}"  />
                </rule>
				<!--单参数的范例#将recruitment_details.php?cz=1 优化为recruitment_details_1.html-->
                <rule name="rule102" stopProcessing="true">
                    <match url="^recruitment_details_([0-9]+).html" />
                    <action type="Rewrite" url="recruitment_details.php?cz={R:1}"  />
                </rule>                          

      



				
				<!--单参数的范例#将product_details.php?cz=1 优化为product_details_1.html-->
                <rule name="rule3" stopProcessing="true">
                    <match url="^product_details_([0-9]+).html" />
                    <action type="Rewrite" url="product_details.php?cz={R:1}"  />
                </rule>
				
				<!--单参数的范例#将news.php?typeid=1 优化为news_1.html-->
                <rule name="rule4" stopProcessing="true">
                    <match url="^news_([0-9]+).html" />
                    <action type="Rewrite" url="news.php?typeid={R:1}"  />
                </rule>
				
				<!--单参数的范例#将news_details.php?cz=1 优化为news_details_1.html-->
                <rule name="rule5" stopProcessing="true">
                    <match url="^news_details_([0-9]+).html" />
                    <action type="Rewrite" url="news_details.php?cz={R:1}"  />
                </rule>
				
				<!--单参数的范例#将affiliatedetails.php?cz=1 优化为affiliatedetails_1.html-->
                <rule name="rule6" stopProcessing="true">
                    <match url="^affiliatedetails_([0-9]+).html" />
                    <action type="Rewrite" url="affiliatedetails.php?cz={R:1}"  />
                </rule>
				
				<!--单参数的范例#将product.php?typeid=1 优化为type_1.html-->
                <rule name="rule7" stopProcessing="true">
                    <match url="^newsmodify_([0-9]+).html" />
                    <action type="Rewrite" url="newsmodify.php?id={R:1}"  />
                </rule>
				
				
				<!--单参数的范例#将affiliatedetails.php?cz=1 优化为affiliatedetails_1.html-->
                <rule name="rule8" stopProcessing="true">
                    <match url="^newsmodify_([0-9]+).html" />
                    <action type="Rewrite" url="newsmodify.php?cz={R:1}"  />
                </rule>
				
				<!--单参数的范例#将news_details.php?cz=1 优化为news_details_1.html-->
                <rule name="rule9" stopProcessing="true">
                    <match url="^details_([0-9]+).html" />
                    <action type="Rewrite" url="details.php?cz={R:1}"  />
                </rule>
				
				<!--单参数的范例#将news.php?typeid=1 优化为news_1.html-->
                <rule name="rule10" stopProcessing="true">
                    <match url="^list_([0-9]+).html" />
                    <action type="Rewrite" url="list.php?typeid={R:1}"  />
                </rule>
				
				<!--单参数的范例#将news_details.php?cz=1 优化为news_details_1.html-->
                <rule name="rule11" stopProcessing="true">
                    <match url="^partnerdetails_([0-9]+).html" />
                    <action type="Rewrite" url="partnerdetails.php?cz={R:1}"  />
                </rule>
				
				<!--单参数的范例#将news.php?typeid=1 优化为news_1.html-->
                <rule name="rule12" stopProcessing="true">
                    <match url="^partnerlist_([0-9]+).html" />
                    <action type="Rewrite" url="partnerlist.php?typeid={R:1}"  />
                </rule>
				
				<!--单参数的范例#将news_details.php?cz=1 优化为news_details_1.html-->
                <rule name="rule13" stopProcessing="true">
                    <match url="^product_details_([0-9]+).html" />
                    <action type="Rewrite" url="product_details.php?cz={R:1}"  />
                </rule>
				
				<!--单参数的范例#将news.php?typeid=1 优化为news_1.html-->
                <rule name="rule14" stopProcessing="true">
                    <match url="^product_([0-9]+).html" />
                    <action type="Rewrite" url="product.php?typeid={R:1}"  />
                </rule>
				
				<!--单参数的范例#将news_details.php?cz=1 优化为news_details_1.html-->
                <rule name="rule15" stopProcessing="true">
                    <match url="^product_details002_([0-9]+).html" />
                    <action type="Rewrite" url="product_details002.php?cz={R:1}"  />
                </rule>
				
				<!--单参数的范例#将news.php?typeid=1 优化为news_1.html-->
                <rule name="rule16" stopProcessing="true">
                    <match url="^product002_([0-9]+).html" />
                    <action type="Rewrite" url="product002.php?typeid={R:1}"  />
                </rule>
				
				<!--单参数的范例#将news_details.php?cz=1 优化为news_details_1.html-->
                <rule name="rule17" stopProcessing="true">
                    <match url="^product_details003_([0-9]+).html" />
                    <action type="Rewrite" url="product_details003.php?cz={R:1}"  />
                </rule>
				
				<!--单参数的范例#将news.php?typeid=1 优化为news_1.html-->
                <rule name="rule18" stopProcessing="true">
                    <match url="^product003_([0-9]+).html" />
                    <action type="Rewrite" url="product003.php?typeid={R:1}"  />
                </rule>
				
				<!--单参数的范例#将news_details.php?cz=1 优化为news_details_1.html-->
                <rule name="rule24" stopProcessing="true">
                    <match url="^downloaddetails_([0-9]+).html" />
                    <action type="Rewrite" url="downloaddetails.php?cz={R:1}"  />
                </rule>
				
				<!--单参数的范例#将news.php?typeid=1 优化为news_1.html-->
                <rule name="rule25" stopProcessing="true">
                    <match url="^downloadlist_([0-9]+).html" />
                    <action type="Rewrite" url="downloadlist.php?typeid={R:1}"  />
                </rule>
				
				
                <rule name="rule19" stopProcessing="true">
                    <match url="^culturelist_([0-9]+).html" />
                    <action type="Rewrite" url="culturelist.php?typeid={R:1}"  />
                </rule>
				
				<!--单参数的范例#将culturedetails.php?cz=1 优化为culturedetails_1.html-->
                <rule name="rule20" stopProcessing="true">
                    <match url="^culturedetails_([0-9]+).html" />
                    <action type="Rewrite" url="culturedetails.php?cz={R:1}"  />
                </rule>
				
				<!--单参数的范例#将culturedetails.php?cz=1 优化为culturedetails_1.html-->
                <rule name="rule22" stopProcessing="true">
                    <match url="^recommenddetails_([0-9]+).html" />
                    <action type="Rewrite" url="recommenddetails.php?cz={R:1}"  />
                </rule>
				
				
								
				<!--单参数的范例#将news.php?typeid=1 优化为news_1.html-->
                <rule name="rule23" stopProcessing="true">
                    <match url="^mvlist_([0-9]+).html" />
                    <action type="Rewrite" url="mvlist.php?typeid={R:1}"  />
                </rule>
				
<rule name="Redirect" stopProcessing="true">
<match url=".*" />
<conditions>
<add input="{HTTP_HOST}" pattern="^www.0755asc.com$" />
</conditions>
<action type="Redirect" url="http://0755asc.com/{R:0}" redirectType="Permanent" />
</rule>
				
				
			   <!--多参数范例#将type.php?id=7&page=2伪静态成 /type_7_2.html-->
               <rule name="rule21" stopProcessing="true">
                     <match url="^type_([0-9]+)_([0-9]+).html" />
                     <action type="Rewrite" url="type.php?id={R:1}&amp;page={R:2}" />
                </rule>
            </rules>
        </rewrite>
    <!--伪静态规则结束-->
    </system.webServer>  
</configuration>